/sat-clientes/target/
/sat-clientes/src/main/resources/descargamasivasat-1db51d58737e.json
/sat-config-server/target/
/sat-eureka/target/
/sat-servicio-descarga/target/
/sat-suscripciones/target/
/sat-usuarios/target/
/sat-ws-descargamasiva/target